$bg: #212223;
$fg: #f1f1f1;
$accent: #75ad5b;
$radius: 7px;

@import "./colors.scss";

* {
    font-family: 'Jost*', 'Material Symbols Rounded';
    font-style: normal;
}

.material-symbols-rounded {
    font-family: 'Material Symbols Rounded';
    font-weight: 700;
    font-style: normal;
    //font-size: 24px;  /* Preferred icon size */
    //font-variation-settings: 'ROND' 50;
    //display: inline-block;
    //line-height: 1;
    //text-transform: none;
    //letter-spacing: normal;
    //word-wrap: normal;
    //white-space: nowrap;
    //direction: ltr;
}
  
  

window.Bar {
    border: none;
    box-shadow: none;
    background-color: $base00;
    color: $base07;
    font-size: 1.1em;
    font-weight: bold;
    min-height: 48px;
    padding-left: 8px;
    padding-right: 8px;

    button {
        all: unset;
        background-color: transparent;
        transition: 200ms;
        min-width: 16px;
        min-height: 16px;

        &:hover {
            background-color: transparentize($base07, 0.84);
            border-color: transparentize($accent, 0.8);
        }

        &:active {
            background-color: transparentize($fg, 0.8)
        }
    }

    .Workspaces {

        //padding: 4px;
        border-radius: 0px 16px 16px 0px;
        background-color: $base01;

        .Workspace {
            padding: 8px;
            border-radius: 16px;

            .wsIndicator {
                border-radius: 8px;
                transition: 200ms;
            }

            &:hover {
                //padding: 4px;


                .wsIndicator {
                    border-radius: 4px;
                    //min-width: 24px;
                }
            }
        }

        .focused {
            //background-color: $accent;
            //border-color: $accent;
            min-width: 64px;

        }
    }


    label {
        transition: 200ms;
        padding: 0 0px;
        margin: 0px;
        border-radius: $radius;
        border: 1pt solid transparent;
    }

    .ws1 .wsIndicator { background-color: $base08;}
    .ws2 .wsIndicator { background-color: $base09;}
    .ws3 .wsIndicator { background-color: $base0A;}
    .ws4 .wsIndicator { background-color: $base0B;}
    .ws5 .wsIndicator { background-color: $base0C;}
    .ws6 .wsIndicator { background-color: $base0D;}
    .ws7 .wsIndicator { background-color: $base0E;}
    .ws8 .wsIndicator { background-color: $base0F;}
    .ws9 .wsIndicator { background-color: $base07;}

    .FocusedClient {
        color: $accent;
    }

    .Media {

        border-radius: 16px 16px 16px 16px;
        background-color: $base01;
        padding-left: 8px;
        padding-right: 8px;

        .Cover {
            min-height: 1.2em;
            min-width: 1.2em;
            border-radius: $radius;
            background-position: center;
            background-size: contain;
        }
    }

    .Battery label {
        padding-left: 0;
        margin-left: 0;
    }

    .AudioSlider {
        * {
            all: unset;
        }

        icon {
            margin-right: .6em;
        }

        margin: 0 1em;

        trough {
            background-color: transparentize($fg, 0.8);
            border-radius: $radius;
        }

        highlight {
            background-color: $base0B;
            min-height: .8em;
            border-radius: $radius;
        }

        slider {
            background-color: $fg;
            border-radius: $radius;
            min-height: 1em;
            min-width: 1em;
            margin: -.2em;
        }
    }

    .Clock {
        border-radius: 16px 0px 0px 16px;
        background-color: $base01;
        padding-left: 8px;
        padding-right: 8px;
            
        .ClockIcon {
            color: $base0B;
        }
    }
}

.AppLauncher {

    background-color: $base00;
    border-radius: 8px;

    .AppEntry {
        min-width: 200px;
        min-height: 50px;

        background-color: $base01;
        color: $base07;
        border-radius: 8px;

    }
}
